div{
    background-color: blueviolet;
    border: 10px;
    border-color: blue;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
h3{
    text-align: center;
    text-decoration-color: brown;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}